.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    .logo {
        font-size: 22px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: white;
        margin-left: 12px;
    }
}