.feedCard {
    padding: 15px;
    background-color: rgba(black, .86);
    border-radius: 8px;

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
        padding-bottom: 10px;

        .autor {
            margin: auto 0;
            margin-right: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
            height: 50px;
            width: 50px;
            border-radius: 50%;

            &-name {
                margin: auto;
            }
        }

        .headerLeftSide {
            .bin {
                margin-left: 3px;
                fill: var(--white);

                &:hover {
                    fill: var(--grey);
                }
            }
        }
    }

    .content {
        padding: 15px 0;
    }

    .footer {
        padding-top: 5px;
        border-top: 1px solid white;

        .tag {
            display: inline-block;
            background: var(--black-2);
            padding: 5px 8px;
            margin-right: 8px;
            border-radius: 3px;
            transition: transform .3s linear;
        }
    }
}

.title {
    margin-top: 0;
}

.subtitle {
    margin-bottom: 10px;
}

.link {
    color: var(--grey);

    &:hover {
        color: var(--white);
    }
}

.headerLeftSide {
    display: flex;
}