.toast {
  position: relative;
  display: flex;
  min-height: 60px;
  width: 290px;
  background: #f7f3f0;
  color: black;
  border-radius: 5px;
  padding: 15px;
  opacity: 0;
  transition: all .5s;

  &::before {
    content: "";
    position: relative;
    top: 1px;
    margin-right: 10px;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.open {
  opacity: 1;
}

.error {
  &::before {
    background-image: url("../../assets/Error.svg");
  }
}

.info {
  &::before {
    background-image: url("../../assets/Info.svg");
  }
}

.successful {
  &::before {
    background-image: url("../../assets/Succes.svg");
  }
}

.body {
  .title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .description {
    margin: 0;
    font-size: 12px;
  }
}

.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 12px;
  height: 12px;
}