.toast {
  position: relative;
  display: flex;
  min-height: 80px;
  width: 290px;
  background: #F7F3F0;
  color: black;
  border-radius: 5px 0 0 5px;
  padding: 15px;

  &::before {
    content: '';
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.error {
  &::before {
    background-image: url('../../assets/Error.svg');
  }
}

.info {}

.successful {}



.body {
  .title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 7px;
  }

  .description {
    margin: 0;
    font-size: 12px;
  }
}

.closeIcon {
  width: 22px;
  height: 22px;
}