.form {
  background: var(--black-2);
  box-shadow: 0px 1.13947px 2.27895px rgba(0, 0, 0, 0.16),
    0px 2.27895px 4.55789px rgba(0, 0, 0, 0.12),
    0px 1.13947px 9.11579px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: grid;
  gap: 12px;
  flex-direction: column;
}